# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
# DATABASE_URL="postgresql://postgres:password@localhost:5432/test2"

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ahacverhpougzlzojfyo.supabase.co
# NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFoYWN2ZXJocG91Z3psem9qZnlvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTExMjgzNTMsImV4cCI6MjAyNjcwNDM1M30.bxCbfxmFuUTKFpBQU0pk0ZliJMFbDwnVHed_5VcS198
NEXT_PUBLIC_SUPABASE_SSBU_ROSTER_BUCKET=https://ahacverhpougzlzojfyo.supabase.co/storage/v1/object/public/SSBU%20Roster
NEXT_PUBLIC_SUPABASE_SSBU_CLIPS_BUCKET=https://ahacverhpougzlzojfyo.supabase.co/storage/v1/object/public/SSBU%20Clips
NEXT_PUBLIC_SUPABASE_UNCATEGORIZED_BUCKET=https://ahacverhpougzlzojfyo.supabase.co/storage/v1/object/public/Uncategorized

# Cloudinary
NEXT_CLOUDINARY_IMAGE_PATH=https://res.cloudinary.com/dn7jgv66a/image/upload/f_auto,q_auto
NEXT_CLOUDINARY_VIDEO_PATH=https://res.cloudinary.com/dn7jgv66a/video/upload
NEXT_PUBLIC_CLOUDINARY_IMAGE_PATH=https://res.cloudinary.com/dn7jgv66a/image/upload/f_auto,q_auto
NEXT_PUBLIC_CLOUDINARY_VIDEO_PATH=https://res.cloudinary.com/dn7jgv66a/video/upload

NEXT_BACKEND_URL=localhost:8080
